{% extends "base.html" %}
{% load static %}
{% block page_style_css %}

{% endblock %}

{% block content %}
<div class="section">
  <!-- container -->
  <div class="container">
    <div class="row">

      <h1 class="title common_style">All posts</h1>


      {% if post_list %}
      {% for post in post_list %}
      {% cycle '<div class="display-inline-block">' '' '' %}
        {% include "blog/blocks/post_list_element.html" with post=post %}
      {% cycle '' '' '</div>' %}
      {% endfor %}
      {% else %}
      <p>Нет постов.</p>
      {% endif %}       
    </div>
  </div>
</div>
{% endblock %}

